.top-container
  = render partial: 'common/header'

.main
  .city_side
    %figure.building
      = image_tag 'city_side.png'

  .show_spot
    .post_label
      %h2.text-uppercase.mt-3.font-weight-bold.text-grey little star cafeの詳細
      .line-box
        .line
    .post_label
      .city_cafe
      %figure.good_cafe
        = image_tag 'stylish_cafe.png'
      .line-box
        .line
    .post_label
      %h3.text-uppercase.mt-3.font-weight-bold.text-grey みゆきさんのおすすめポイント
      %p.label-txt 代官山のオススメのカフェです。代官山駅から歩いて2分ほどと駅近。パリの街角にあるカフェのような外観に、味への期待が高まります。
      .line-box
        .line
    .box
      %button{type: "submit"} コメントを投稿する
      %button{type: "submit"}お気に入り
  
  .city_side
    %figure.building
      = image_tag 'city_side.png'