.header-area{
  
}
.header-area{
  .main-header-area{
    padding: 0 150px;

    .main-menu{
      text-align: center;
      padding: 12px 0;
      ul{
        li{
        display: inline-block;
        position: relative;
        a{
          color: #131313;
          font-size: 15px;
          text-transform: capitalize;
          font-weight: 400;
          display: inline-block;
          padding: 35px 23px 35px 23px;
          font-family: $font1;
          position: relative;
          text-transform:uppercase;
          i{
              font-size: 9px;
          }
          &:hover{
              color: #808080;
          }
        }
        .submenu {
          position: absolute;
          left: 0;
          top: 140%;
          background: #fff;
          width: 200px;
          z-index: 2;
          box-shadow: 0 0  10px rgba(0,0,0,.02);
          opacity: 0;
          visibility: hidden;
          text-align: left;
          @include transition(.6s);
          li{
            display: block;
            a{
              padding: 10px 15px;
              position: inherit;
              @include transition(.3s);
              display: block;
              &::before{
                  display: none;
              }
            }
            &:hover a{
                color: #808080;
            }
          }
        }
        &:hover > .submenu{
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
        &:hover > a::before{
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
  }
  &.sticky {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(70px);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    padding: 0 150px;
    .main-menu{
        padding: 0;
    }
  }
       
  }
  .get_in_tauch {
    text-align: right;
    a{
      width: 180px;
      padding: 18px;
    }
  }
}