.header-area {
  padding: 0 150px;
}

.white-bg {
  background: #fff;
}

.p-0 {
  padding: 0!important;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.align-items-center {
  align-items: center!important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.main-menu{
  text-align: center;
  padding: 12px 0;
  ul {
    li {
      display: inline-block;
      position: relative;
    }
  }
}

.d-none {
  display: none!importanr;
}

.col-xl-7 {
  width: 58%;
  position: relative;
  min-height: 1px;
}

ul {
  margin: 0px;
  padding: 0px;
}