.header-area {
  padding: 0 150px;
}

.white-bg {
  background:#0b2345;
}

.p-0 {
  padding: 0!important;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background:#0b2345;
}

.align-items-center {
  align-items: center!important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.main-menu{
  text-align: center;
  padding: 12px 0;
  ul {
    li {
      display: inline-block;
      position: relative;
      a{
        padding: 35px 8px 35px 8px;
        font-size: 14px;
        color:#fff;
        font-weight: 400;
        display: inline-block;
        font-family: 'Rocoto','sans-serif';
        position: relative;
        text-transform: uppercase;
      }
    }
  }
}

.col-xl-7 {
  width: 58%;
  position: relative;
  min-height: 1px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  outline: medium none;
}


.boxed-btn {
  background: #fff;
  display: inline-block;
  font-family: 'Rocoto','sans-serif';
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #131313;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #131313!important;
}

.good_logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}